*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    background-color: black; 

}

.container{
    width: 1920px;
    margin: 0px auto;
    /* border: 2px solid white; */
    
}

header{
    width: 100%;
    /* height: 15vh; */
    display: flex;
    justify-content: space-between;
    background-color: black; 
}

.logo{
    width: 20%;
    /* height: 90%; */
    border: 2px solid red;
}
.logo img{
    width: 80%;
    height: 120px;
    border: 2px solid rgb(3, 255, 87);
}

.navigations{
    width: 40%;
}

.navigations ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    /* margin-top: 1.3em; */
}
.navigations ul li {
    list-style: none;

}

.navigations ul li a{
    text-decoration: none;
    color: white;

}


.buttons{
    width: 30%;
    /* height: 100%; */
    padding-top: 1.1em;
    display: flex;
    justify-content: space-evenly;
}

.black_btn{
    width: 45%;
    /* height: 70%; */
    font-size: 15px;
    border-radius: 30px;
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    
}

.red_btn{

    width: 45%;
    /* height: 70%; */
    font-size: 15px;
    background-color: #ED1C24;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
}

.red_btn i{
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 50%;
    color: #ED1C24;

}

@media screen and (max-width: 1200px) {
    .container{
        width: 50%;
    }
    
}

@media screen and (max-width: 576px) {
    .container{
        width: 100%;
    }
    
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .logo{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .logo > img {
        width: 100%;
    }
    .navigations{
        width: 100%;
    }
    .buttons{
        width: 100%;
    }
}